/********************************** ID Section *************************/
body {
  font-family: "Montserrat-black";
}

#title {
  background-color: #d92027;
  color: white;
}

h1 {
  font-family: "Montserrat-black";
  font-size: 4rem;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat-black";
  font-weight: bold;
  padding-bottom: 10%;
}

h2 {
  font-size: 0S.5rem;
}

p {
  color: gray;
  font-size: 1.5rem;
}

h2 {
  font-family: "Montserrat-bold"
  font-size: 2.5rem;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.navbar-brand {
  font-family: Ubuntu;
  font-weight: bold;
  font-size: 2.5rem;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: black !important;
}
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.5rem;
  font-family: "Montserrat-light";
}

.download-button {
  margin: 5% 3% 5% 0%
}

.title-image {
  width: 20rem;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;

}

#features {
  padding: 7% 15%;
  background-color: white;
  position: relative;
  width: 100%;

}

.feature-box {
  text-align: center;
  padding: 3%;
}

.icon {
  color: #d92027;
  margin: 1rem;
}

.icon:hover {
  color: #16697a;
}

.navbar-text {
  color: white;
}

#testimonials {
  background-color: #d92027;
  font-size: 1.5rem;
  padding: 7% 15%;
  text-align: center;
  color: white;
}

.testimonials-image {
  border-radius: 100%;
  width: 25%;
  padding-top: 20px;
}

.testimonial-image {
  border-radius: 100%;
  width: 25%;
  padding-top: 20px;
}

#press {
  background-color: #d92027;
  text-align: center;
  padding-bottom: 3%;
}

#pricing {
  padding: 7% 15%;
  text-align: center;
  font-weight: bold;
}

.press-image {
  width: 15%;
  margin: 20px 15px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

.h2text {
  font-size: 2.5rem;
  font-weight: bold;
}

.card-header {
  background-color: #d92027;
}

#footer {
  background-color: white;
  color: black;
  position: relative;
  height: 100px;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-top: 40px;
}

#cta {
  background-color: #d92027;
  text-align: center;
  color: white;
  padding: 7% 15%;

}

#copyright1 {
    color: black !important;
    text-align: center;
}

@media (max-width: 1028px) {
#title {
  text-align: center;
}
  .title-image {
    position: static;
    padding-top: 10%;
    text-align: center;
    transform: rotate(0);
  }
}

#h3font {
  font-size: 2.5rem;
  line-height: 1.5;
}

.facebook {
color: #3b5998;
border-style: none;
}

.twitter {
  color: #00ACEE;
}
.twitter:hover {
  color: white;
}
